.jumbotron {
    /* padding: 1rem 1rem 1rem 1rem; */
    margin-bottom:auto;
    background-color: transparent !important;
    /*#FFF5EE;*/
    border-radius: 0.3rem;
}

.jumbotron-carousel {
    /* padding: 1rem 1rem 1rem 1rem; */
    margin-bottom: 2rem;
    /* background-color: #ffffff; */
    /*#FFF5EE;*/
    border-radius: 0.3rem;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.bodycss {
    background-color: transparent !important;
    background-image: url("../img/black_back.jpg");
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
}

.bg-toggler {
    background-color: #99CCCC;
}

.DispalyLabel {
    font-size: 40px;
    color: bisque;
    font-family: '华文细黑';
}

.DisplayNum {
    font-size: 30px;
    color: black;
    font-family: FZShuTi;

} 


.DisplayBox {
    border-bottom: blueviolet;
    border-right: blueviolet;
    border-left: blueviolet;
    border-top: blueviolet;
    border-radius: 2rem;
    padding: 1rem;
}

.jumbotronImg {
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
    position: fixed;
}

.region_label{
.region_div{
    padding-bottom: 3rem;
    /* margin: 1 rem; */
    font-size: 20px;
    color: #DC143C;
    font-family: Microsoft YaHei;
    color: #33CCFF;
    font-family:'华文细黑';
    border: bisque;
    border-radius: 2rem;
    text-align: center;

}

.shadow-sm{
    box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,0.075) !important;
  }